@model Bridge.ERP.Models.Property

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Properties</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenantId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenantId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PropertyAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PropertyAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PropertyCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PropertyCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PropertyState)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PropertyState)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PropertyZip)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PropertyZip)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ListCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ListCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MailerCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MailerCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OptOut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OptOut)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PropertyCounty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PropertyCounty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MailingAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MailingAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MailingCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MailingCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MailingState)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MailingState)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MailingZip)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MailingZip)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MailingCounty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MailingCounty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsVacant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsVacant)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsMailingVacant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsMailingVacant)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApnNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApnNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PropertyTypeDetail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PropertyTypeDetail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OwnerOccupied)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OwnerOccupied)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BedroomCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BedroomCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BathroomCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BathroomCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalBuildingAreaSquareFeet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalBuildingAreaSquareFeet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LotSizeSquareFeet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LotSizeSquareFeet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YearBuilt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YearBuilt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalAssessedValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalAssessedValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ZoningCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ZoningCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastStaleDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastStaleDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastSalePrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastSalePrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalOpenLienBalance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalOpenLienBalance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EquityCurrentEstimatedBalance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EquityCurrentEstimatedBalance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstimatedValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstimatedValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LtvCurrentEstimatedCombined)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LtvCurrentEstimatedCombined)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MlsStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MlsStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Owner2FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Owner2FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Owner2LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Owner2LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PropertyType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PropertyType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrimaryListSource)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrimaryListSource)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrimaryListType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrimaryListType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CriticalStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CriticalStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HotLead)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HotLead)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MatchCrm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MatchCrm)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
