@model Bridge.ERP.Models.Properties


@{
    ViewData["Title"] = "Phones";
}

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PropertyAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PropertyAddress) - @Html.DisplayFor(model => model.PropertyCity) 
        </dd>
    </dl>
</div>
<h3>Phones</h3>
<table class="table">
    <thead>
        <tr>
            <th>
                Phone
            </th>
            <th>
                Type
            </th>
            <th>
                Score
            </th>
            <th>
                Status
            </th>
            <th>
                SkipTraceSource
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Phone)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Score)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SkipTraceSource)
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
</div>